.clientes {
    & > .flex-center{
        padding: 70px;

        div {
            position: relative;
            width: 20%;
            margin: 10px 20px;
            height: 20%;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
    }
}