.clientes {
    & > .flex-center{
        padding: 70px;

        div {
            position: relative;
            width: 25%;
            margin: 10px 20px;
            height: 18%;
            overflow: hidden;

            img {
                width: 100%;
                position: absolute;
                background-position: center;
                // background-attachment: fixed;
            }
        }
    }
}