.clientes {
    & > .flex-center{
        div {
            position: relative;
            margin: 1%;
            width: 31%;
            height: 23%;

            img {
                width: 100%;
            }
        }
    }
}