.clientes {
    & > .flex-center{
        padding: 100px 30px;

        div {
            position: relative;
            width: 31%;
            height: 23%;
            overflow: hidden;

            img {
                width: 75%;
                position: absolute;
            }
        }
    }
}