.home {

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    article {

        max-width: 50%;

        h1 {
            margin-bottom: 20px;
            font-size: 25px;
        }

        p {
            text-align: justify;
            margin: 10px 0;
        }
    }

    .row {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .line {
            width: 1px;
            height: 95%;
            max-height: 500px;
            background-color: $grisOsc;
        }

        .head {
            height: 0;
            width: 0;
            border-left: 20px solid $grisOsc;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            transform: rotate(90deg);
            position: absolute;
            bottom: 5%;
        }
    }
}

.sections-links {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a:hover {
        color: $violeta;
    }

    .links:last-child {
        text-align: right;
    }
}

.marketing,
.subsection {
    padding: 50px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
        height: auto;
        width: 100%;
    }

    .info {
        width: 40%;

        p {
            font-size: 20px;
            text-align: justify;
        }

        .capitalize {
            display: flex;
            justify-content: space-between;
            align-items: center;


            span {
                font-size: 80px;
                font-family: $font-title;
            }
        }
    }

    .links {
        width: auto;
        max-width: 40%;
        p {
            line-height: 20px;
        }
    }

    .submenu {
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
        padding: 20px 5%;
        background: transparent;
        z-index: 1;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 20px;
            }
        }
    }
}

.marketing {
    .text-decoration {
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
        font-size: 150px;
        color: white;
        position: absolute;
        bottom: 20px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
}

header {
    height: 20px;
    padding: 50px;
    position: absolute;
    width: 100%;
    z-index: 10;

    img {
        height: 50px;
    }

    .icon {
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 1;

        & > span {
            margin: 10px 2px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: $violeta;
            float: right;
        }
        
        &:hover {
            & > span {
                background-color: $dorado;
            }
            cursor: pointer;
        }
    }


    nav {
        position: absolute;
        width: 300px;
        background-color: rgba($color: $grisOsc, $alpha: .95);
        height: 100vh;
        top: 0;
        right: 0;

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        ul {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li {
                a {
                    color: white;
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        &.hide {
            visibility: hidden;
        }

        &.show {
            visibility: visible;
        }
    }
}

.subsection {

    .links {
        margin-right: 50px;
    }

    .text-decoration {
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
        font-size: 150px;
        color: white;
        position: absolute;
        top: -28px;
        left: 0;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}