// Colores
$gris: #ececec;
$grisOsc: #595959;
$violeta: #230f28;
$dorado: #d39205;

// Fuentes
$font-title: 'BrownStd-Regular', Arial, Helvetica, sans-serif;
$font-normal: 'BrownStd-Light', Arial, Helvetica, sans-serif;

@font-face {
	font-family: BrownStd-Regular;
	src: url('tipografias/BrownStd-Regular.otf');

}

@font-face {
	font-family: BrownStd-Light;
	src: url('tipografias/BrownStd-Light.otf');
}

@font-face {
	font-family: Berlin-Sans;
	src: url('tipografias/Berlin-Sans.otf');
}

// Efectos
@keyframes mostrarTitulo {
    0% {
        opacity: 0;
        left: -2000px;
    }
    25% {
        left: auto;
    }
    100% {
        opacity: 1;
    }
}

@keyframes esconderTitulo {
    0% {
        opacity: 1;
        left: auto;
    }
    25% {
        opacity: 0;
    }
    100% {
        left: -2000px;
    }
}

@keyframes scrollTop {
	from {
		top: 0;
	} to {
		top: -100vh;
	}
}

@keyframes scrollDown {
	from {
		top: -100vh;
	} to {
		top: 0;
	}
}

@keyframes largeArrow {
	0% {
		height: 0;
	} 50% {
		height: 90vh;
		margin-top: 0;
	// } 75% {
	} 100% {
		margin-top: 100vh;
		// height: 0;
	}
}

@keyframes showNav {
	from {
		left: -110px;
		opacity: 0;
	} to {
		left: 0;
		opacity: 1;
	}
}

@keyframes hideNav {
	from {
		left: 0;
		opacity: 1;
	} to {
		left: -110px;
		opacity: 0;
	}
}

@keyframes openDropMenu {
	from {
		height: 0;
	} to {
		height: 60vh;
	}
}

@keyframes closeDropMenu {
	from {
		height: 60vh;
		opacity: 1;
	} to {
		height: 0;
		opacity: 1;
	}
}

@keyframes openDropMenuMobile {
	from {
		height: 0;
		visibility: hidden;
	} to {
		height: 90vh;
		visibility: visible;
	}
}

@keyframes closeDropMenuMobile {
	from {
		height: 90vh;
		visibility: visible;
	} to {
		height: 0;
		visibility: hidden;
	}
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: $font-normal;
}

img {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
	user-select: none;
}

::-moz-selection { /* Code for Firefox */
	background-color: $dorado;
	color: $grisOsc;
}

::selection {
	background-color: $dorado;
	color: $grisOsc;
}

html,
body{
	height: 100%;
	background: $gris;
	color: $grisOsc;
}

main{
	position: absolute;
	top: 0;
	width: 100%;

	&.down {
		animation-name: scrollDown;
		animation-duration: 1.5s;
		top: 0;
	}

	&.top {
		animation-name: scrollTop;
		animation-duration: 1.5s;
		top: -100vh;
	}
}

aside.left,
aside.right {
	height: 100vh;
	position: fixed;
	z-index: 300;
}

.left > div{
	height: 100%;
	width: 100%;
}

.right{
	right: 0;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	ul {
		li {
			margin-bottom: 15px;
			text-align: center;
			
			a {
				color: $grisOsc;
				transition: all .5s ease;

				&:hover {
					color: $dorado;
					transition: all .5s ease;
				}
			}
		}
	}
}

section{
	height: 100vh;
	padding: 0 50px 0 220px;
	
	& > div {
		height: 100%;
		width: 100%;
	}
}

.grid-container{
	display: grid;
	justify-content: center;
}

.flex-center{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.links {
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	color: $grisOsc;

	* {
		width: 100%;
		margin: 0;
	}

	h1 {
		font-size: 100px;    
		line-height: 80px;
	}

	p {
		font-size: 30px;
		line-height: 10px;
	}

}

[class*="btn"] {
	background: none;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

.btn-backend {
	padding: 10px;
	width: 100px;
	background-color: $violeta;
	color: $gris;
}

// Flex containers
[class^='flex'] {
    display: flex
}

[class*='wrap'] {
    flex-wrap: wrap;
}

// Position
[class*='center'] {
    justify-content: center;
    align-items: center;
}

[class*='between'] {
    align-items: center;
    justify-content: space-between;
}

[class*='around'] {
    align-items: center;
    justify-content: space-around;
}

[class*='vertical'] {
    align-items: center;
}

// Direction
[class*='column'] {
    flex-direction: column;
}

// Grid containers
[class^='grid'] {
    display: grid;
}

@import 'nav';
@import 'social';
@import 'home';
@import 'services';
@import 'selected-works';
@import 'own-community';
@import 'team';
@import 'videos';
@import 'clientes';	
@import 'timer';
@import 'slideshow';
@import 'contacto';
@import 'responsive';

// @import 'spectre/src/spectre';
// @import 'spectre/src/spectre-exp';
// @import 'spectre/src/spectre-icons';
// @import 'backend/login';
// @import 'backend/admin';