@media (max-width: 1200px) {
    .services {
        .flex-container {
            padding: 120px 50px;
        }
    }
    
    .contacto {
        padding: 0 10px 0 50px;
    }

    .selected-works {
        .work-display .info {
            height: 100%;
            width: 24.3%;
        }
    }

}
@media (max-width: 991px) { 

    // Responsive presentations team and communities
    .own-community,
    .team {

        & .flex-presentation{

            flex-direction: column;
            
            & > div {
                width: 100%;
            }
        }
    }

    .own-community .flex-presentation > div {
        height: 20%;
    }

    .team .flex-presentation {
        .default-content {
            height: 16.66%;
            width: 100%;
        }

        .display-content {
            height: 80%;
            width: 100%;
        }

        .reduce-content {
            height: 4%;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }
    
    .contacto .form-contact .form-view {
        width: 100%;
    
        form.grid-container {
            position: relative;
    
             
            input::placeholder,
            input,
            textarea {
                font-size: 12px;
            }
    
            input {
                grid-column: 1 / span 2;
            }
    
            textarea {
                grid-row: 5 / span 2;
            }
        }
    }

    .selected-works {
        .work-display {
            .info {
                width: 30%;
                background: transparent;
            }

            img {
                position: absolute;
                left: 70px;
            }
        }
    }
}
@media (max-width: 768px) { 

    // Swipe events on navbar
    .nav-movil {
        &:hover,
        &.open {
            width: 100vw;
            transition: all .5s ease;
            #logo {
                transform: rotate(0deg);
            }
        }

        &.close {
            width: 50px;
            transition: all .5s ease;
            #logo {
                transform: rotate(-90deg);
            }
        }

        transition: all .5s ease;
    }

    .right {
        display: none;
    }

    section {
        padding-right: 0;
    }
    
    .services {
        .flex-container {
            padding: 50px 10px;

            & > div {
                width: 50%;

                h2 {
                    font-size: 45px;
                }
            }

            & > div div {
                font-size: 14px;
            }
        }
    }

    .selected-works {
        .flex-center {
            
            .works-container div{
                width: 30%;
                height: 32%;
                margin: 5px;
            }
        }

        .work-display {
            .info {
                height: 100%;
                width: 30%;

                p {
                    font-size: 14px;
                }
            }
            
            img {
                width: 50%;
                height: auto;
                position: absolute;
                left: 70px;
            }
        }
    }

    .clientes {
        padding: 0;
        padding-left: 50px;

        & > .flex-center{
            padding: 0;

            & > div {
                margin: 5px;
                width: 31%;
                height: 20%;
            }
        }
    }

}
@media (max-width: 480px) { 
    .services {
        .flex-container {
            & > div {                
                h2 {
                    font-size: 30px;
                }
            }


            & > div div {
                font-size: 12px;
            }
        }
    }

    .selected-works {
        .flex-center {
            
            .works-container div{
                width: 45%;
                height: 15%;
                margin: 2px;
            }
        }

        .work-display {
            .info {
                padding: 10px 40px;
                height: 50%;
                width: 100%;
                right: auto;
                top: 50%;

                p {
                    font-size: 14px;
                }
            }
            
            img {
                margin-top: 1%;
                width: auto;
                height: 49%;
                position: absolute;
                left: auto;
                top: 0;
            }
        }
    }

    .contacto {
        overflow: hidden;
        .form-contact {
            padding: 40px 10px;

            .form-view {
                height: 300px;
                form.grid-container {

                    textarea {
                        grid-row: 5 / span 1;
                    }
                }
            }

        }
    }

    .clientes {
        & > .flex-center{
            
            & > div {
                margin: 5px;
                width: 45%;
                height: 12%;
            }
        }
    }
}
 