@media (max-width: 1200px) {
    .services {
        .flex-container {
            padding: 120px 50px;
        }
    }
}
@media (max-width: 991px) { 
    
    .contacto .form-contact .form-view {
        width: 100%;
    
        form.grid-container {
            position: relative;
    
             
            input::placeholder,
            input,
            textarea {
                font-size: 12px;
            }
    
            input {
                grid-column: 1 / span 2;
            }
    
            textarea {
                grid-row: 5 / span 2;
            }
        }
    }
}
@media (max-width: 768px) { 

    // Swipe events on navbar
    .nav-movil {
        &:hover,
        &.open {
            width: 100vw;
            transition: all .5s ease;
            #logo {
                transform: rotate(0deg);
            }
        }

        &.close {
            width: 50px;
            transition: all .5s ease;
            #logo {
                transform: rotate(-90deg);
            }
        }

        transition: all .5s ease;
    }

    .right {
        display: none;
    }

    section {
        padding-right: 0;
    }
    
    .services {
        .flex-container {
            padding: 50px 10px;

            & > div {
                width: 50%;

                h2 {
                    font-size: 45px;
                }
            }

            & > div div {
                font-size: 14px;
            }
        }
    }

    .selected-works {
        .flex-center {
            
            div{
                width: 30%;
                height: 32%;
                margin: 5px;
            }
        }
    }

    .contacto {
        padding: 30px 10px 30px 50px;
    }

    .contacto .form-contact {
        padding: 20px 0;
    }

    .clientes {
        padding: 0;

        & > .flex-center{
            & > div {
                margin: 5px;
                width: 31%;
                height: 20%;
            }
        }
    }

}
@media (max-width: 480px) { 
    .services {
        .flex-container {
            & > div {                
                h2 {
                    font-size: 30px;
                }
            }


            & > div div {
                font-size: 12px;
            }
        }
    }

    .selected-works {
        .flex-center {
            
            div{
                width: 40%;
                height: 18.6%;
            }
        }
    }

    .contacto {
        overflow: hidden;
        .form-contact {
            padding: 0;

            .form-view {

                form.grid-container {

                    textarea {
                        grid-row: 5 / span 1;
                    }
                }
            }

        }
    }
}
 