.selected-works {
    .flex-center {
        overflow: hidden;
        
        div{
            background-color: $gris;
            width: 22%;
            height: 30.33%;
            margin: 1%;

            img {
                width: 100%;
            }
        }
    }
}