.selected-works {
    .flex-center {
        overflow: hidden;
        
        div{
            background-color: #f5f5f5;
            width: 22%;
            height: 30.33%;
            margin: 1%;
        }
    }
}