.login {
    width: 100%;
    padding: 0;

    .logo img {
        width: 100%;
        max-width: 200px;
    }

    .form-container {
        max-width: 400px;
        height: auto;

        hr {
            width: 80%;
            margin: 25px auto;
            border-top-width: 2px;
        }

        form {
            width: 100%;

            input[type="text"],
            input[type="password"] {
                width: 200px;
                padding: 10px 5px;
            }
        }

        .input-group {
            width: 100%;
            margin: 30px 0;
            position: relative;
        }

        .error-prompt {
            visibility: hidden;
            position: absolute;
            bottom: -50px;
            margin: 0 auto;
            border: 1px solid red;
            background-color: white;
            width: 300px;
            display: block;
            padding: 10px;

            &.show {
                visibility: visible;
            }
        }
    }
}